<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28925556847-ecd2o8rtol21bst0cj1ddbqhbkpd9ere.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28925556847-ecd2o8rtol21bst0cj1ddbqhbkpd9ere</string>
	<key>API_KEY</key>
	<string>AIzaSyCfC2jhJbaGwtLvLyWNQjaSTukGGmLpWdU</string>
	<key>GCM_SENDER_ID</key>
	<string>28925556847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicd.zoomscroller</string>
	<key>PROJECT_ID</key>
	<string>zoomscroller</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomscroller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28925556847:ios:fd4ad2cfde19b93139f59a</string>
</dict>
</plist>